form#confu-form legend {
	font-family: 'Patua One', cursive !important;
	border-bottom: 1px solid rgba(255,255,255,.25);
}
form#confu-form h4 small {
	font-family: 'Open Sans', sans-serif;
	float: right;
}
form#confu-form p.metadata {
	font-weight: bold;
	margin: .25em 0;
	padding: .5em .75em;
}
form#confu-form textarea {
	background-color: #ffffff;
	width: 75%;
}
form#confu-form span.help-block {
	width: 75%;
}
form#confu-form div.form-actions {
	background: transparent;
	border-top: 1px solid rgba(255,255,255,.25);
}